#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--app-inline-spacing);
  width: 100%;
}

.header-btns-ctr {
  display: flex;
  gap: 16px;
}

.header-btns-ctr button {
  background-color: #003300;
  color: #00ff00;
  padding: 5px 10px;
  cursor: pointer;
}

.header-btns-ctr button:hover {
  background-color: #004400;
}

.header-auth-ctr {
  display: flex;
  gap: 16px;
  font-size: 24px;
}

.header-auth-ctr button {
  transform: translateY(0);
  box-shadow: none;
}

.header-auth-ctr button:hover {
  transform: translateY(-2px);
  color: hsla(120, 100%, 90%, 1);
  cursor: pointer;
}
